<div class="p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Detalles de la Finca</h2>
    <div class="mb-4">
        <p><span class="font-semibold">Nombre:</span> {{ farm?.name}}</p>
        <p><span class="font-semibold">Ubicación:</span> {{ farm?.location}}</p>
        <p><span class="font-semibold">Tamaño:</span> {{ farm?.size}}</p>
        <p><span class="font-semibold">Creado el:</span>{{ farm?.createdAt}}</p>
        <p><span class="font-semibold">Actualizado el:</span>{{ farm?.updatedAt}}</p>
    </div>
    @if(farm?.sectors) {
        <div class="border-t border-gray-200 pt-4">
            <h3 class="text-xl font-bold mb-4">Sectores</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            @for(sector of farm?.sectors; track sector.id) {
                <div class="p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition-shadow">
                <h4 class="text-lg font-semibold mb-2">{{ sector.name }}</h4>
                <p class="text-sm text-gray-600">
                    <span class="font-medium">Tamaño:</span> {{ sector.size }} m<sup>2</sup>
                </p>
                </div>
            }
            </div>
        </div>
    }@else {
        <p class="text-gray-500">No hay sectores disponibles.</p>
    }
</div>